
body {
	background-image:url(../images/background1.jpg);
}



#header  {
	height:65px;
    	width:1200px;
    	margin:0px;
	margin-top: 0px;
    	background:#303132;
	background-repeat:none;
}

#header li {	
	 color: white;
	 display: block;
	 font-size: 25px;
	 font-family: georgia;
	 text-align: center;
	 text-decoration: none;
	 padding: 10px 15px;
	 float: left;
}

#menu {
	width: 1200px;
	height:600px;
	margin-top:0px;
	margin:0px;

}


#footer dl{
	color: white;
	display: block;
	font-size: 13px;
	font-family: georgia;
	text-align: center;
	text-decoration: none;
	padding: 60px 110px;
	float: left;
	list-style-type: none;


	
}

#footer  {
	position:fixed;
	bottom:0px;
	text-align:center;
	color:#FFFFFF;
	width:1200px;
	background:#303132;
	margin-top:0px;
	margin-bottom: 155px;

}
#container {
	width:1200px;
	margin:0 auto;
}
	
.container #footer {
	padding-top:10px;
	position: fixed;
}



.active {
	background-color: #4CAF50;
}

p   {
	font-size: 15px;
	font-family: georgia;

	 
}

a:link {
	color: black;
	text-decoration:none;
}

a:visited {
	color:#fff;
	text-decoration:none;
	
}

a:hover {
	color:green;
	text-decoration: none;
	background-color:white-grey;
}

a:active {
	color:#fff;
	text-decoration:none;
}



.top-search label{
	display:none;
}

.top-search button.button{
	float:right;
}

#inscription tr {
	font-size: 15px;
}

#inscription td {
	font-size: 15px;
}

